{% include "parts/badges.md.j2" %}

**Share a Seafile library as a volume to other containers.**

{% include "parts/features.md.j2" %}

{% include "parts/usage.md.j2" %}

{% include "parts/troubleshooting.md.j2" %}
