# Moving to another namespace

This repository is being moved to a new namespace [flrnnc](https://hub.docker.com/u/flrnnc).

I am applying to open source software programs on the service providers I rely on such as Gitlab and Docker. It means that my project must be reorganized. The `flrnnc` namespace is dedidacted to open source software I publish on Docker.