> This repository will be moved to another namespace [flrnnc/seafile-client](https://hub.docker.com/repository/docker/flrnnc/seafile-client/) instead.
> See [moving to another namespace][#moving-to-another-namespace] for explanations.