# Supported tags

The versions match Seafile versions.

{% for version in versions %}
[{{ version | join(", ")}}][Dockerfile]  
{% endfor %}

[Dockerfile]: https://gitlab.com/flrnnc-oss/docker-seafile-client/-/blob/master/seafile-client/Dockerfile